# 경고 : .env 파일은 절대 공유나 배포 해서는 안됩니다. [악의적 공격 행위로 인한 보안 리스크 방지]
# Warning : The .env file should never be shared or distributed. [To prevent security risks from malicious attacks]

YOUR_ENVIRONMENT_VARIABLE_NAME=YOUR_ENVIRONMENT_VALUE
