# Discord Bot Development Token URL : https://discord.com/developers/applications/****/bot
DISCROD_CLIENT_TOKEN=YOUR_DISCORD_CLIENT_TOKEN

# SQL Server Connect Configure <MYSQL, MSSQL, POSTGRSQL, ...ETC>
SQL_DATABASE_NAME=YOUR_SQL_SERVER_CONN_DATABASE
SQL_HOST_ADDRESS=YOUR_SQL_SERVER_CONN_HOST
SQL_PORT_ADDRESS=YOUR_SQL_SERVER_CONN_PORT
SQL_PASSWORD=YOUR_SQL_SERVER_CONN_PASSWORD
